<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI in Agriculture</title>
    <link rel="stylesheet" href="/static/classify.css">
</head>
<body>
    <header class="header">
        <a href="{{url_for('home')}}" class="nav-text"><span>A</span>GR<span>I</span>CULTURE</a>
        <nav class="navbar">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('potato_select')}}">Potato</a>
            <a href="{{url_for('tomato_select')}}" class="active">Tomato</a>
        </nav>
    </header>

    <section class="disease-classify">
        <h2 class="heading">Tomato Disease Classification</h2>
        <h5 class="upload-text">Upload an image of tomato plant leaf to know the possible condition and treatment of the plant</h5>
        <div class="upload-area">
            <form action = "/tomato_disease_classification" method = "post" enctype="multipart/form-data">
                <label for="input-file" id="drop-area">
                    <input type="file" name="tomato_leaf_image" accept="image/*" id="input-file" hidden/>  
                    <div id="img-view">
                        <img src="/static/assets/upload_icon_dark.png">
                        <p>Drag and drop or click here <br> to upload picture</p>
                    </div>

                </label>   
                <input type = "submit" value="Predict" class="predict-btn">   
            </form>
        </div>
    {% if prediction and score %}
        <div class="result-area">
            <p>Prediction<br><br><span id="prediction">{{prediction}}</span></p>
            <p>Score<br><span id="score">{{score}}</span> %</p>
        </div>
    {% endif %}

    </section>
    <footer class="footer">
        <p class="footer-text">Made By  |  Utkarsh Alpuria</p>
    </footer>

    <script src="/static/classify.js"></script>
</body>
</html>